div {
  font-size: 13px;
  user-select: none;
  display: flex;
  box-sizing: border-box;
}

img {
  box-sizing: border-box;
  -webkit-user-drag: none;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 3px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #999;
}
